// Custom Color
$color-rick-blue: #95c3e7;
$color-dark-green: #37aa45;
$color-light-green: #85bb40;
$color-morty-yellow: #f1e53e;
$color-red: #eb2635;
$color-font-blue: #26deda;
$color-font-highlight: #88d523;

// Main Color
$color-white: #ffffff;
$color-black: #000000;