@import "./styles/colors";

@font-face {
  font-family: 'Schwifty';
  src: url("./styles/fonts/schwifty.ttf");
}

.app-wrapper {
  background-color: #000000;

  .rick-mort-font {
    font-family: Schwifty;
    font-size: 42px;
    @media (max-width: 990px) {
      font-size: 24px;
    }
    color: $color-font-blue;
    text-shadow: 0px 0px 10px $color-font-highlight;
  }
}