@import "./styles/colors";

@font-face {
  font-family: 'Schwifty';
  src: url("./styles/fonts/schwifty.ttf");
}

.app-wrapper {
  background-color: #000000;

  .audio-player {
    color: #ffffff;
    position: fixed;
    bottom: 5px;
    right: 0px;
    margin: 5px;
    z-index:10;

    button {
      height: 50px;
      width: 50px;
      cursor: pointer;
      margin: 5px;
      border-radius: 50%;
      background-color: $color-light-green;
      border: none;
      box-shadow: 0 0 10px $color-dark-green;
    }
  }

  .rick-mort-font {
    font-family: Schwifty;
    font-size: 42px;
    @media (max-width: 990px) {
      font-size: 24px;
    }
    color: $color-font-blue;
    text-shadow: 0px 0px 10px $color-font-highlight;
  }
}